.header {
    background-color: #5F42B1;
    height: 3.5rem;
    &__logo-wrapper {
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        border: 4px solid white;
    }
    &__logo-display {
        font-size: 1.5rem;
        color: white;
    }
    &__user-display {
        color: white;
    }
}