@import '../utils/fonts.scss';

.login {
    height: 100%;
    
    &__main-heading-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #5F42B1;
    }
    &__heading-wrapper {
        width: 20rem;
    }
    &__heading-1 {
        @include font-heading-1;
        color: white;
    }
    &__heading-2 {
        @include font-heading-2;
        color: white;
    }

    &__main-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__form-wrapper {
        width: 18.75rem;
        margin: auto;
    }
}