@import '../utils/fonts.scss';

.profile {
    &__overview-stat-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        margin: 1rem 0rem;
        padding: 1rem;
        background-color: white;

        &--orange {
            color: #EA6A47;
        }
        &--light-blue {
            color: #0091D5;
        }
        &--aqua {
            color: #A5D8DD;
        }
        &--dark-blue {
            color: #1C4E80;
        }
    }

    &__overview-stat-heading {
        @include dashboard-font-heading-1;
    }

    &__overview-stat-value {
        @include dashboard-font-heading-2;
    }

    &__rss-feed-container {
        margin-top: 1rem; 
    }


    &__rss-feed-toolbar {
        background-color: white;
        margin: 0rem 0rem 0.5rem 0rem;
        display: flex;
        justify-content: flex-end;
        height: 3.5rem;
        border-bottom: 1px solid #7E909A;
    }

    &__rss-story-section {
        background-color: white;
        padding: 1rem;
        margin: 0 0 0.5rem 0;
    }

    &__rss-story-img {
        padding-bottom: 1rem;
    }

    &__rss-story-title {
        @include dashboard-font-heading-1;
    }

    &__rss-story-published-date {
        @include dashboard-font-heading-3;
    }

    &__rss-story-description {
        @include dashboard-font-heading-3;
    }
}