@import '../utils/fonts.scss';

.profile {
    &__overview-stat-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 150px;
        margin: 1rem 0rem;
        background-color: white;

        &--orange {
            color: #EA6A47;
        }
        &--light-blue {
            color: #0091D5;
        }
        &--aqua {
            color: #A5D8DD;
        }
        &--dark-blue {
            color: #1C4E80;
        }
    }

    &__overview-stat-heading {
        @include font-heading-2;
    }

    &__overview-stat-value {
        @include font-heading-3;
    }




    &__story-img {
        padding-bottom: 1rem;
    }

    &__rss-feed-container {
        padding-top: 1rem;
    }

    &__rss-feed {
        overflow: scroll;
        background-color: white;
    }
    &__rss-feed-toolbar {
        display: flex;
        justify-content: flex-end;
        height: 3.5rem;
        border-bottom: 1px solid #7E909A;
    }

    &__rss-toolbar-sort-button {
        background-color: white;
        color: #7E909A;
    }

    &__story-section {
        border-bottom: 1px solid #7E909A; 
        padding: 1rem;
    }
    &__story-title {
        font-size: 1.25rem;
    }

    &__story-published-date {
        color: #7E909A;
    }
    &__story-link {
        color: #000;
        text-decoration: none;
    }
    &__story-description {
        color: #7E909A;
    }
}