// Font Properties

@mixin font-heading-1 {
    font-size: 2.0rem;
    line-height: 2.5rem;
}
@mixin font-heading-2 {
    font-size: 1rem;
}
@mixin font-heading-3 {
    
}
@mixin font-heading-4 {
    
}
@mixin font-heading-5 {
    
}
@mixin font-heading-6 {
    
}
